/* Stylesheet for OA Portal forms */

/* Clearfix */

.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
/* For IE 6/7 (trigger hasLayout) */
.cf {
  zoom: 1;
}


/* Finalize - Cancel/Confirm submission box */
#finalize-confirm-box {
	background:#F7BDBC;
	float:right;
	width:340px;
	overflow:auto;
	font-size:14px;
	color:#000;
	border:1px solid #E8797D;
	margin:10px;
	margin-right:30px;
}
#finalize-confirm-box input {
	text-transform:capitalize;
	background:#499935;
	color:#000;
	float:none;
}
#finalize-cancel {
	-moz-border-radius:10px; /* Firefox */
	-webkit-border-radius:10px; /* Safari, Chrome */
	-khtml-border-radius:10px; /* KHTML */
	border-radius:10px; /* CSS3 */
	padding:5px 10px;
	background:#EB404A;
	width:auto;
	cursor:pointer;
}
#finalize-confirm-box input, #finalize-cancel {display:inline;margin:2px;font-size:14px;vertical-align:middle}
#finalize-confirm-box p {clear:both;padding-bottom:20px;padding:10px;}



/***** GENERAL STYLES FOR ALL FORMS ****************************************************************/
.oaportal fieldset {
	display:block;
	clear:both;
	background:#fff;
	width:95%;
	min-width:600px;
	margin:0;
	padding-bottom:10px;
	border:none;
}
.oaportal fieldset h1 {
	text-decoration:underline;
	font-weight:bold;
	font-size:100%;
}
.oaportal fieldset legend a:link,visited,hover,focus {color:#fff;text-decoration:none;padding:3px 10px;}
.oaportal fieldset legend {
	-moz-box-shadow: -2px -2px 2px rgba(0,0,0,.25) inset, 2px 2px 2px rgba(255,255,255,.5) inset;
	-webkit-box-shadow: -2px -2px 2px rgba(0,0,0,.25) inset, 2px 2px 2px rgba(255,255,255,.5) inset;
	box-shadow: -2px -2px 2px rgba(0,0,0,.25) inset, 2px 2px 2px rgba(255,255,255,.5) inset;
	background:#7a7a7a;
	font-size:150%;
	font-weight:normal;
	width:100%;
	
}


.oaportal .fieldset-wrapper {
	padding:20px;
}
.oaportal .form-item {
	float:left;
	clear:both;
	width:100%;
	padding:0;
}
.oaportal .form-item label {
	float:left;
	display:inline;
	padding-right:5px;
	width:auto;
}

/* Displays checkboxes,radio-buttons horizontally */
.oaportal .form-checkboxes .form-item,
.oaportal .form-radios .form-item {
	width:auto;
	clear:none;
	display:inline;
	float:left;
	padding-right:10px;
}
.oaportal .form-checkboxes,
.oaportal .form-radios {
	width:auto;
	clear:none;
	display:inline;
	margin:0;
	float:left;
	padding-right:10px;
}
.oaportal .form-checkboxes .form-item label.option,
.oaportal .form-radios .form-item label.option {
	font-weight:bold;
}
.oaportal div.resizable-textarea {
	width:80%;
	display:inline;
	float:left;
}
.oaportal .form-submit {
	text-transform:uppercase;
	margin:20px 40px;
	font-size:150%;
	clear:both;
	float:right;
}

.oaportal .form-item label,
.oaportal .form-item label .option {font-weight:bold}

/* Date popup */
.date-popup,
.date-popup .form-item .form-item {
	width:auto;
	clear:none;
	float:left;
}

.set-hide {
  display: none;
}
.add-another-link {
  clear: both;
  font-weight: bold;
  cursor: pointer;
}

.oaportal #edit-continue {
  display: none;
}

/***** CONTACT FORM ********************************************************************/

#oa-portal-p1-contact-form legend {
	display:none;
}
#oa-portal-p1-contact-form .form-item label {
	display:block;
	float:none;
	clear:both;
}

/***** APPLICATION FORM ****************************************************************/

#edit-contact-emerg1-name-wrapper,
#edit-contact-emerg1-phone-wrapper {padding-bottom:20px}


#edit-contact-emerg1-name-wrapper,
#edit-contact-emerg1-phone-wrapper,
#edit-contact-emerg2-name-wrapper,
#edit-contact-emerg2-phone-wrapper,
#edit-education-edu-0-city-wrapper,
#edit-education-edu-1-city-wrapper,
#edit-education-edu-0-major-wrapper,
#edit-education-edu-0-minor-wrapper,
#edit-education-edu-1-major-wrapper,
#edit-education-edu-1-minor-wrapper {
	width:50%;
	clear:none;
}

#edit-education-edu-0-coursework1-wrapper,
#edit-education-edu-0-coursework2-wrapper,
#edit-education-edu-1-coursework1-wrapper,
#edit-education-edu-1-coursework2-wrapper,
#edit-education-edu-2-coursework1-wrapper,
#edit-education-edu-2-coursework2-wrapper,
#edit-experience-exp-0-city-wrapper,
#edit-experience-exp-0-state-wrapper {
	width:auto;
	padding-right:20px;
	clear:none;
}
#edit-education-edu-0-coursework3-wrapper,
#edit-education-edu-1-coursework3-wrapper,
#edit-education-edu-2-coursework3-wrapper {margin-left:172px}
#edit-education-edu-0-coursework3-wrapper,
#edit-education-edu-0-coursework4-wrapper,
#edit-education-edu-1-coursework3-wrapper,
#edit-education-edu-1-coursework4-wrapper,
#edit-education-edu-2-coursework3-wrapper,
#edit-education-edu-2-coursework4-wrapper {
	width:auto;
	padding-right:20px;
	clear:none;
	float:left;
}


#felony-suffix {
	padding:0;
	margin:0;
}

.oa-terms-field {
	background:#EEEEEE;
	overflow:hidden;
	padding:5px 25px;
	margin-right:5%;
	width:500px;
	float:right;
	outline: 2px solid #666;
}
.oa-terms-field p {
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:normal;
	color:#003300;
}

/***** SKILLS CHECKLIST ****************************************************************/
#oa-portal-p1-checklist-form .fieldset-wrapper,
#oa-portal-p1-checklist-form .form-item {
	padding:0;
	font-size:10px;
}
#oa-portal-p1-checklist-form .fieldset-wrapper legend a {color:#000;font-weight:bold}
#oa-portal-p1-checklist-form .fieldset-wrapper legend {
	border-bottom:solid 2px;
	border-bottom-color:black;
	box-shadow:none;
	background:none;
	width:40%;
}


/***** PROFESSINAL ORGANIZATIONS ****************************************************************/
#oa-portal-p2-professional-orgs-form .fieldset-wrapper {
	padding-top:0;
}

#edit-prof-orgs-no-orgs-wrapper {padding-left:30px}

#edit-prof-orgs-org1-org-role-wrapper,
#edit-prof-orgs-org2-org-role-wrapper {
	padding-right:20px;
	width:auto;
	clear:none;
}

/***** LICENSURE CERTIFICATIONS ****************************************************************/
#oa-portal-p2-licensure-certs-form .description,
#oa-portal-p2-licensure-certs-form label {font-weight:bold}
	
#edit-lc-fax-preference-wrapper,
#oa-portal-p2-licensure-certs-form pdf {padding-left:30px}


/***** BACKGROUND/REFERENCE CHECK ****************************************************************/
#oa-portal-p2-background-reference-form fieldset .sin-field legend {
	padding-left:0;
	padding-top:10px;
	box-shadow:none;
	background:none;
	color:#666;
	font-size:100%;
	font-weight:bold;
	width:auto;
	display:inline;
	clear:none;
	float:left;
}
#oa-portal-p2-background-reference-form fieldset .sin-field {width:auto}

#oa-portal-p2-background-reference-form fieldset .sin-field .form-item {
	padding-right:10px;
	width:auto;
	display:inline;
	float:left;
	clear:none;
}
#edit-consent-dl-number-wrapper,
#edit-consent-dl-state-wrapper {
	width:auto;
	clear:none;
	padding-right:30px;
}
#edit-consent-certification-wrapper {padding-left:30px}

#edit-reference1-ref-address-address1-wrapper,
#edit-reference1-ref-address-address2-wrapper {
	padding-right:30px;
	width:auto;
	clear:none;
}

#edit-reference1-ref-address-city-wrapper,
#edit-reference1-ref-address-state-wrapper,
#edit-reference1-ref-address-zip-wrapper,
#edit-reference1-ref-phone-wrapper,
#edit-reference1-ref-email-wrapper {
	padding-right:30px;
	width:auto;
	clear:none;
}
#edit-reference1-ref-address-city-wrapper input {
	width:150px;
}
#edit-reference1-ref-certification-wrapper label {
	font-weight:bold;
}


/***** CAPABILITIES QUESTIONNAIRE ****************************************************************/
#oa-portal-p2-capabilities-form .description li {
	margin-left:15px;
	list-style-type:disc;
}
#edit-jcq-certify-wrapper label {font-weight:bold}


/***** POLICIES & AGREEMENTS ****************************************************************/
#oa-portal-p2-policies-form .field-acknowledgement label {font-weight:bold}
.acknowledgement-description {
  width: 560px;
  height: 90px;
  padding: 10px;
  overflow-y: scroll;
  border: 1px solid #000;
}



/***** MEDICAL AUTHORIZATIONS & DISCLOSURES ********************************************************/

#edit-tb-state-12-negative-chest-stage-12-wrapper {padding-right:70px}
#edit-mmr-mmr-12-rubella-titer-mmr-12-wrapper {padding-right:40px}

#edit-cardiac--BLS-wrapper,
#edit-cardiac--CPR-wrapper,
#edit-cardiac--ACLS-wrapper {
	padding-left:10px;
	padding-right:70px;
}
#edit-vari-vari-vari-vaccine-wrapper {padding-left:10px}

#edit-hepb-vaccination-hep123-wrapper,
#edit-hepb-vaccination-titer-wrapper,
#edit-hepb-vaccination-declination-wrapper {
	padding-left:10px;
	padding-right:50px;
}
#edit-hepb-acknowledgement-wrapper {padding-left:30px}



/***** PAYCHECK METHOD ********************************************************/
#edit-delivery-delivery-option-no-wrapper label,
#edit-delivery-delivery-option-yes-wrapper label {font-weight:normal}

#oa-portal-p3-paycheck-form .form-radios {clear:both}
#edit-dd-account-type-wrapper .form-radios {clear:none}

#edit-cp-cc-type-Visa-wrapper {padding-right:31px;}

#oa-portal-p3-paycheck-form .field-cc {clear:both}
#oa-portal-p3-paycheck-form .field-cc .form-item {
	width:auto;
	clear:none;
	padding-right:20px;
}
#oa-portal-p3-paycheck-form p {padding-top:120px}


/***** W4 ********************************************************/
#oa-portal-p3-w4-form .form-radios {width:100%}
#oa-portal-p3-w4-form .form-radios .form-item {clear:both}
#oa-portal-p3-w4-form li {list-style-type:disc;margin:0 100px 0 30px}
#edit-w4-certify-wrapper label {font-weight:normal}

/***** I9 ********************************************************/
#oa-portal-p3-i9-form .form-radios {width:100%}
#oa-portal-p3-i9-form .form-radios .form-item {clear:both}
#edit-i9-certify-wrapper label {font-weight:normal}

/***** EEO ********************************************************/
#oa-portal-p3-eeo-form .form-radios,
#oa-portal-p3-eeo-form .form-checkboxes,
#oa-portal-p3-eeo-form .form-radios .form-item label,
#oa-portal-p3-eeo-form .form-checkboxes .form-item label {width:100%;clear:both}

#oa-portal-p3-eeo-form .form-radios .form-item {width:45%}
#oa-portal-p3-eeo-form .form-checkboxes .form-item {width:100%}

