/* Styles for OA Healthcare Documents & Phases *******************/

/* Phases & Messages blocks */
#phases-block .content, #messages-block .content {padding:0}
#phases-block .title, #messages-block .title {display:none}
/*****************************/

.oap-phase-title-status h3 {font-size:200%;color:white}
.oap-phase-title h3 {font-size:150%;color:white}

.oap-phase-form-link a {color:black;text-decoration:none;}

#oa-phase-1, #oa-phase-2, #oa-phase-3 {
	display:inline;
	padding:10px;
	margin:1px;
	float:left;
	height:350px;
	width:30%;
}
#oa-phase-1, #oa-phase-status-p1 {background:#B77D7C;overflow:hidden;padding:0 10px 10px 10px}
#oa-phase-2, #oa-phase-status-p2 {background:#AEA85C;overflow:hidden;padding:0 10px 10px 10px}
#oa-phase-3, #oa-phase-status-p3 {background:#619650;overflow:hidden;padding:0 10px 10px 10px}

#oa-phase-status-p1 .oap-phase-form-link,
#oa-phase-status-p2 .oap-phase-form-link,
#oa-phase-status-p3 .oap-phase-form-link {width:auto;float:left;margin-right:30px;padding-right:20px;color:#fff;}

#oa-phase-1 .oap-phase-form-link,
#oa-phase-2 .oap-phase-form-link,
#oa-phase-3 .oap-phase-form-link,
#oa-phase-1 .oap-phase-title-status,
#oa-phase-2 .oap-phase-title-status,
#oa-phase-3 .oap-phase-title-status {border-bottom:1px dotted rgba(255,255,255, .2);border-style:none none dotted;}



#oa-phase-1 .oap-phase-form-link,
#oa-phase-2 .oap-phase-form-link,
#oa-phase-3 .oap-phase-form-link {padding-top:3px;padding-bottom:3px;padding-left:5px}

#oa-phase-1 .oap-phase-form-link:hover,
#oa-phase-2 .oap-phase-form-link:hover,
#oa-phase-3 .oap-phase-form-link:hover {background:rgba(255,255,255,.2);cursor:pointer}

#oap-status-legend {padding-bottom:10px}


	
/* Styles for messages */
#oap-messages {background:#F9F6D5;overflow:hidden;padding:10px}
#oap-message-notice {font-weight:bold;padding-bottom:10px;}
.oap-message-date {float:left;padding-left:30px; padding-right:20px; text-align:right}
.oap-message-teaser {float:left;font-weight:bold}
.oap-message-link a {padding-left:20px;color:#666}

/* Tooltips */

/* TEMPORARY trigger button */
.oap-tooltip-trigger {
	display:none;  /* Temp hide */
	padding:1px 4px;
	width:10px;
	background:blue;
	color:white;
	cursor:pointer;
	text-align:center;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	-o-border-radius:20px;
	border-radius:20px;
}

.oap-tooltip {
	position:absolute;
	z-index:1000;
	background:#D2EEEF;
	padding:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
	border-radius:10px;
	width:300px;
	display:none;
}
.oap-tooltip .close a {
	float:right;
	text-decoration:none;
	cursor:pointer;
}
.oap-tooltip .string {
	clear:both;
	padding:0 10px;
}

/* Message icon */
#oap-message-count {
	background:red;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	color:white;
	font-weight:bold;
	float:left;
	margin-left:20px;
	padding:0 4px;
}
#oap-message-notice {
	background:url(../img/messages.png);
	background-repeat:no-repeat;
	padding-left:50px;
}

/* Status icons*/
#oap-status-legend .oap-status-icon {
	padding:1px 20px;
	background-repeat:no-repeat;
	display:inline;
	font-style:italic;
}
.oap-icon-closed {background:url(../img/closed.png)}
.oap-icon-open {background:url(../img/open.png)}
.oap-icon-under-review {background:url(../img/under-review.png)}

.oa-phase-row-status-closed,
.oa-phase-row-status-closed .oap-phase-form-link {
	background:url(../img/closed.png);
	background-position:right;
	background-repeat:no-repeat;
}
.oa-phase-row-status-open,
.oa-phase-row-status-open .oap-phase-form-link {
	background:url(../img/open.png);
	background-position:right;
	background-repeat:no-repeat;
}
.oa-phase-row-status-under-review,
.oa-phase-row-status-under-review .oap-phase-form-link {
	background:url(../img/under-review.png);
	background-position:right;
	background-repeat:no-repeat;
}

.oap-phase-status-locked h3 {
	background:url(../img/locked.png);
	background-position:right;
	background-repeat:no-repeat;
	color:rgba(255,255,255,.5);
}

/* Disable links in locked phases */
.oap-phase-status-locked .oap-phase-form-link,
.oap-phase-status-locked .oap-phase-form-link a {
   pointer-events: none;
   cursor: default;
   color:rgba(0,0,0,.5);
}



/*** Candidate navigation ***/
#block-oa_portal-oap_candidate_menu .content { padding-top:0;}
#block-oa_portal-oap_candidate_menu .content ul.menu { padding-left:0px; padding-bottom:0px; width:100%;}
#block-oa_portal-oap_candidate_menu .content ul.menu li ul.menu { padding-left:15px; width:auto;}
#block-oa_portal-oap_candidate_menu .content ul.menu li { padding:0px 0px 1px 0px; list-style-image:none; list-style:none; margin:0; line-height:normal;line-height:35px; overflow:hidden; background:url(../img/bg-line.gif) bottom repeat-x;}
#block-oa_portal-oap_candidate_menu .content ul.menu li a { color:#6b6b6b; font-size:12px; text-decoration:none; padding-left:13px; overflow:hidden; display:block; background:url(../img/a1.gif) no-repeat 0 15px; font-weight:bold;}
#block-oa_portal-oap_candidate_menu .content ul.menu li a:hover{ text-decoration:none; color:#07b4f4;}
#block-oa_portal-oap_candidate_menu .content ul.menu li.expanded { padding-bottom:0px;}
#block-oa_portal-oap_candidate_menu .content ul.menu li.expanded ul { padding-top:1px;}
#block-oa_portal-oap_candidate_menu .content ul.menu li.last { border-bottom:0;}